<!-- The Modal -->
<div id="ticketModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="0">
        <span class="closeX">&times;</span>
        <div class ="headerPortion">
            <h1 id = "ticketTitle"> Ticket Title Will Go Here </h1>
        </div>
        <div class ="headerPortion">
            <h3 id = "ticketType" style = "color: #7f58cc"> Ticket Type </h3>
            <h3 id = "ticketUser"> Username </h3>
        </div>
        <div class = "titleContent">
            <p id = "ticketReplies"> Description:</p>
            <p id = "ticketDesc" style="color: #000000;"> Description </p>
        </div>
        <div class = "descriptionContent">
            <p id = "ticketReplies"> Replies:</p>
            {{#if replies}}
                {{#each replies }}
                    <!--if (eq replyID id)}}-->
                    <p onload="hideReply({{replyID}})" id = "reply_{{replyID}}" style="color: #000000;"> {{username}}:
                        {{replyID}} {{text}}</p>

                {{/each}}

            {{else}}
                <p>There are no comments yet.</p>
            {{/if}}



        </div>
        <div class = "titleContent">
            <p> Add A Reply</p>
            <form action="comment-controller.js" method="POST">
                <input type="text" id = "replyLog" name="reply" class = "no-outline" placeholder="Enter Reply Text here ... ">
                <input type="text" id = "ticketID" name = "ticketID" display="none" class="noDisplay" value={{id}}>
                <input type="submit" value="Submit">
            </form>
        </div>
        <li><button type="button" class="action-button secondary" id = "ticketButton">Submit/Close Ticket</button></li>
    </div>
</div>

<script>
    var modal = document.getElementById("ticketModal");
    var spanX = document.getElementsByClassName("closeX")[0];
    var submit = document.getElementById("ticketButton");
    var curTicketID = document.getElementById("ticketID").value;
    console.log(curTicketID)

    spanX.onclick = function() {
        modal.style.display = "none";
    }
    submit.onclick = function() {
        modal.style.display = "none";

    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
